<div class="navigation">
  <ul>
    <li>
      <a href="#">
        <span class="icon">
          <ion-icon name="logo-deviantart"></ion-icon>
        </span>
        <span class="title">LIBICT</span>
      </a>
    </li>

    <li>
      <a href="/">
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Dashboard</span>
      </a>
    </li>

    <li>
      <a href="student">
        <span class="icon">
          <ion-icon name="people-outline"></ion-icon>
        </span>
        <span class="title">All Student</span>
      </a>
    </li>

    <li>
      <a href="course">
        <span class="icon">
          <ion-icon name="albums-outline"></ion-icon>
        </span>
        <span class="title">All Course</span>
      </a>
    </li>

    <li>
      <a href="content">
        <span class="icon">
          <ion-icon name="videocam-outline"></ion-icon>
        </span>
        <span class="title">Content Upload</span>
      </a>
    </li>

    <li>
      <a href="assesment">
        <span class="icon">
          <ion-icon name="book-outline"></ion-icon>
        </span>
        <span class="title">Assesments Upload</span>
      </a>
    </li>

    <li>
      <a href="quiz">
        <span class="icon">
          <ion-icon name="checkbox-outline"></ion-icon>
        </span>
        <span class="title">Quiz Upload</span>
      </a>
    </li>

    <li>
      <a href="institute">
        <span class="icon">
          <ion-icon name="business-outline"></ion-icon>
        </span>
        <span class="title">Bussiness Creation</span>
      </a>
    </li>

    <li>
      <a href="#">
        <span class="icon">
          <ion-icon name="log-out-outline"></ion-icon>
        </span>
        <span class="title">Sign Out</span>
      </a>
    </li>
  </ul>
</div>
