<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <title>LIBICT Course</title>
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="cus-container">
      <%- include("includes/sidebar.ejs") %>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <%- include("includes/topbar.ejs") %>

        <!-- ================ Order Details List ================= -->
        <div class="full-details details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h4>LIBICT Course</h4>
              <a href="add-course" class="btn">Add New</a>
            </div>

            <table>
              <thead>
                <tr>
                  <td>Sr.</td>
                  <td>Course Name</td>
                  <td>Category</td>
                  <td>Price</td>
                  <td>Action</td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>1.</td>
                  <td>Mern Stack Development</td>
                  <td>Coding</td>
                  <td>₹12,000</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status pending">Details</span></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>2.</td>
                  <td>Digital Marketing</td>
                  <td>Marketing</td>
                  <td>₹15,000</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status pending">Details</span></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include("includes/footer.ejs") %>
  </body>
</html>
