<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <title>LIBICT (Liberia ICT Training Institute)</title>
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="cus-container">
      <%- include("includes/sidebar.ejs") %>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <%- include("includes/topbar.ejs") %>

        <!-- ================ Order Details List ================= -->
        <div class="full-details details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h4>LIBICT Students</h4>
              <a href="add-student" class="btn">Add New</a>
            </div>

            <table>
              <thead>
                <tr>
                  <td>Sr.</td>
                  <td>Name</td>
                  <td>Email</td>
                  <td>Action</td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>1.</td>
                  <td>Soniya Sharma</td>
                  <td>soniya@yahoo.in</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status delivered">Block</span></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>2.</td>
                  <td>Rohit Kumar</td>
                  <td>rahoit@yahoo.in</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status delivered">Block</span></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>3.</td>
                  <td>Kalam</td>
                  <td>kalam@gmail.com</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status delivered">Block</span></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>4.</td>
                  <td>Sanju Dhiman</td>
                  <td>sanju123@gmail.com</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status delivered">Block</span></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>5.</td>
                  <td>Arjun Roa</td>
                  <td>arujunroa@gmail.com</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status delivered">Block</span></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>6.</td>
                  <td>Sagar Choudhary</td>
                  <td>sagarchoudhary@yahoo.in</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status delivered">Block</span></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>7.</td>
                  <td>Ankit Dhiman</td>
                  <td>ankitdhiman@gmail.com</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status delivered">Block</span></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>8.</td>
                  <td>Nonu Kumar</td>
                  <td>nonukumar2439@gmail.com</td>
                  <td>
                    <a href="#" style="text-decoration: none"
                      ><span class="status inProgress">Edit</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status return">Delete</span></a
                    >&nbsp;
                    <a href="#" style="text-decoration: none"
                      ><span class="status delivered">Block</span></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include("includes/footer.ejs") %>
  </body>
</html>
